<!-- /*
* Template Name: Tour
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
  <style>
    .hero.hero-inner{
			background-image: url(images/Glamping.png);
			background-size: 100%;
		}
    .label {margin-bottom: 96px;}
    .label * {display: inline-block;vertical-align: top;}
    .label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
    .label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
    .label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}
      
    .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}

  </style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/daterangepicker.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="css/elements.css">

  
</head>

<body>


  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="main" class="logo m-0">CAMP'US'</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href="main">Home</a></li>
					<li><a href="search">Search</a></li>
					<li><a href="D_main">Diary</a></li>
					<li class="has-children">
						<a href="#">HoneyTip</a>
						<ul class="dropdown">
							<li><a href="campingtip_a">캠핑음식</a></li>
							<li><a href="#">캠핑장비</a></li>
							<li><a href="#">텐트설치</a></li>
						</ul>
					</li>
					<li><a href="community">Community</a></li>
        <% if(user==null){%>
          <li><a href="Login_page">Login</a></li>
        <%}else{%>
          <li><a href="logout">Logout</a></li>
          <li><a href="mypage">mypage</a></li>
        <%} %>
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>


  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Our Services</h1>
            <p class="text-white">True camping is not about going to see a new landscape, but getting another eye to see the world. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="untree_co-section">
    <div class="row mb-5 justify-content-center">
        <h1 class="section-title text-center mb-3">Search campsite</h1>
    </div>
</div>




<div class="campsite_select">
  <div class="select_box">
      <div class="row">
         <div class="col-3">
           <select name="" id="place_select" class="form-control custom-select" onchange="">
             <option value="">지역을 선택해주세요!</option>
             <option value="광주">광주광역시</option>
             <option value="강진">강진군</option>
             <option value="곡성">곡성군</option>
             <option value="광양">광양시</option>
             <option value="나주">나주시</option>
             <option value="담양">담양군</option>
             <option value="무안">무안군</option>
             <option value="보성">보성군</option>
             <option value="순천">순천시</option>
             <option value="신안">신안군</option>
             <option value="여수">여수시</option>
             <option value="영광">영광군</option>
             <option value="완도">완도군</option>
             <option value="장성">장성군</option>
             <option value="장흥">장흥군</option>
             <option value="함평">함평군</option>
             <option value="화순">화순군</option>
             <option value="고흥">고흥군</option>
             <option value="구례">구례군</option>
             <option value="영암">영암군</option>
             <option value="해남">해남군</option>
         </select>
         </div>
         <div class="col-4">
           <select name="" id="camp_select" class="form-control custom-select">
             <option value="">캠핑유형을 선택해주세요!</option>
             <option value="일반야영장">일반야영장</option>
             <option value="글램핑">글램핑</option>
             <option value="카라반">카라반</option>
           </select>
         </div>
         <div class="col-3">
           <select name="" id="who_select" class="form-control custom-select">
             <option value="">누구와 함께??</option>
             <option value="1">혼자</option>
             <option value="2">가족</option>
             <option value="4">친구</option>
             <option value="3">연인</option>
           </select> 
         </div>
         <div class="col-2">
           <button id="searchBtn" onclick="choice()">Search</button>
         </div>
      </div>
   <br>
   <div id="map"></div>
     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9fd6ad8505ef37b44291d1c943988915"></script>
  </div>
</div>

 <div class="py-5 cta-section">
   <div class="container">
     <div class="row text-center">
       <div class="col-md-12">
         <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
         <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
         <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
       </div>
     </div>
   </div>
 </div>

 <div class="site-footer">
   <div class="inner first">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-lg-4">
           <div class="widget">
             <h3 class="heading">About Tour</h3>
             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
           </div>
           <div class="widget">
             <ul class="list-unstyled social">
               <li><a href="#"><span class="icon-twitter"></span></a></li>
               <li><a href="#"><span class="icon-instagram"></span></a></li>
               <li><a href="#"><span class="icon-facebook"></span></a></li>
               <li><a href="#"><span class="icon-linkedin"></span></a></li>
               <li><a href="#"><span class="icon-dribbble"></span></a></li>
               <li><a href="#"><span class="icon-pinterest"></span></a></li>
               <li><a href="#"><span class="icon-apple"></span></a></li>
               <li><a href="#"><span class="icon-google"></span></a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-6 col-lg-2 pl-lg-5">
           <div class="widget">
             <h3 class="heading">Pages</h3>
             <ul class="links list-unstyled">
               <li><a href="#">Blog</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Contact</a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-6 col-lg-2">
           <div class="widget">
             <h3 class="heading">Resources</h3>
             <ul class="links list-unstyled">
               <li><a href="#">Blog</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Contact</a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-6 col-lg-4">
           <div class="widget">
             <h3 class="heading">Contact</h3>
             <ul class="list-unstyled quick-info links">
               <li class="email"><a href="#">mail@example.com</a></li>
               <li class="phone"><a href="#">+1 222 212 3819</a></li>
               <li class="address"><a href="#">43 Raymouth Rd. Baltemoer, London 3910</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>



   <div class="inner dark">
     <div class="container">
       <div class="row text-center">
         <div class="col-md-8 mb-3 mb-md-0 mx-auto">
           <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co" target="_blank" rel="nofollow noopener" class="link-highlight">Untree.co</a> &bullet; <a href="https://untree.co/license" target="_blank" rel="nofollow noopener" class="link-highlight">License</a>
           </p>
         </div>
         
       </div>
     </div>
   </div>
 </div>

 <div id="overlayer"></div>
 <div class="loader">
   <div class="spinner-border" role="status">
     <span class="sr-only">Loading...</span>
   </div>
 </div>

 <script src="js/jquery-3.4.1.min.js"></script>
 <script src="js/popper.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.animateNumber.min.js"></script>
 <script src="js/jquery.waypoints.min.js"></script>
 <script src="js/jquery.fancybox.min.js"></script>
 <script src="js/aos.js"></script>
 <script src="js/moment.min.js"></script>
 <script src="js/daterangepicker.js"></script>

 <script src="js/typed.js"></script>
 
 <script src="js/custom.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>


   var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
       mapOption = { 
           center: new kakao.maps.LatLng(35.1595454, 126.8526012), // 지도의 중심좌표
           level: 11 // 지도의 확대 레벨
       };
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
<%
       for(let i=0;i<rows.length;i++){
         console.log("위도 : " + rows[i].latitude);
         console.log("경도 : " + rows[i].longitude);
       }

       
       
%>
var positions = [];
var myVar = <%- JSON.stringify(rows) %>;
console.log(myVar);

<%for(let i=0; i<rows.length; i++){%>

 //console.log(rows[i].camp_id);


   var posData2 = {   
    
     latlng : new kakao.maps.LatLng(myVar[<%- i%>].latitude, myVar[<%- i%>].longitude)
   };

   positions.push(posData2);

<%}%>



var overlays = []
var markers = []





for (var i = 0; i < positions.length; i ++) {
   // 마커를 생성합니다
   var marker = new kakao.maps.Marker({
       map: map, // 마커를 표시할 지도
       position: positions[i].latlng // 마커의 위치

   });



   
   var content = '<div class="wrap">' + 
           '    <div class="info">' + 
           '        <div class="title"><a href="http://127.0.0.1:3000/camp_info">'+myVar[i].camp_id+' </a>' + 
             
           '            <div class="close" onclick="closeOverlay('+i+')" title="닫기"></div>' + 
           '        </div>' + 
           '        <div class="body">' + 
           '            <div class="img">' +
           '                <img src="'+myVar[i].camp_mainIMG+'" width="73" height="70">' +
           '           </div>' + 
           '            <div class="desc">' + 
           '                <div class="ellipsis">'+myVar[i].address+'</div>' + 
           '                <div class="jibun ellipsis">'+myVar[i].category+'</div>' + 
           '                <div><a href="'+myVar[i].camp_URL+'" target="_blank" class="link">홈페이지</a></div>' + 
           '            </div>' + 
           '        </div>' + 
           '    </div>' +    
           '</div>';


   // 마커 위에 커스텀오버레이를 표시합니다
   // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
   var overlay = new kakao.maps.CustomOverlay({
       content: content,  //여기가 컨텐츠 지정해 주는 부분인데 여기 들어갈 형식은
       map: map,
       position: marker.getPosition()       
   });
   overlay.setMap(null)

   
   overlays.push(overlay)
   markers.push(marker)
   kakao.maps.event.addListener(markers[i], 'click', openOverlay(i)); 
   // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
}

// 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
function closeOverlay(i) {
   var overlay = overlays[i]
   overlay.setMap(null)   
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
function openOverlay(i) {
   var overlay = overlays[i]
   console.log(overlay)
   return function() {
       overlay.setMap(map);  
   };
}

// 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
function setMarkers(map) {
   for (var i = 0; i < markers.length; i++) {
       markers[i].setMap(map);
   }            
}

// "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
function hideMarkers() {
   setMarkers(null);    
}

//선택한 지역을 토대로 마커 띄우기
function choice(){
 //1. 띄워진 마커 지우기
 hideMarkers();

 //2. 선택한 지역의 이름 가져오기
 let place = $("#place_select").val();
 let camp_category = $("#camp_select").val();
 let who = $("#who_select").val();

 console.log(place);
 console.log(camp_category);

 //3. 선택한 지역의 이름을 라우터로 넘기기
 //첫번째 방법
 //location.href="choice?local="+place;
 //$("#place_select").val(place);

 //두번째 방법
 $.ajax({
   type:'get',
   url : "http://127.0.0.1:3000/choice",
   data : {"local":place, "category":camp_category, 'who':who},
   success:function(result){

     //마커 감추는 기능
     hideMarkers();


     // console.log(result);
     // alert("성공");

     var positions = [];
// var myVar = JSON.parse(result);
// console.log(myVar);


for(let i=0;i<result.length;i++){
  //console.log(rows[i].camp_id);
  var posData2 = {   
    
    latlng : new kakao.maps.LatLng(result[i].latitude, result[i].longitude)
  };

  positions.push(posData2);

  console.log(i);

}

overlays = []
markers = []
console.log("두둥"+positions);


for (var i = 0; i < positions.length; i ++) {
   // 마커를 생성합니다
   var marker = new kakao.maps.Marker({
       map: map, // 마커를 표시할 지도
       position: positions[i].latlng // 마커의 위치

   });



   
   var content = '<div class="wrap">' + 
           '    <div class="info">' + 
           '        <div class="title"><a href="http://127.0.0.1:3000/camp_info">'+result[i].camp_id+' </a>' +  
           '            <div class="close" onclick="closeOverlay('+i+')" title="닫기"></div>' + 
           '        </div>' + 
           '        <div class="body">' + 
           '            <div class="img">' +
           '                <img src="'+result[i].camp_mainIMG+'" width="73" height="70">' +
           '           </div>' + 
           '            <div class="desc">' + 
           '                <div class="ellipsis">'+result[i].address+'</div>' + 
           '                <div class="jibun ellipsis">'+result[i].category+'</div>' + 
           '                <div><a href="'+result[i].camp_URL+'" target="_blank" class="link">홈페이지</a></div>' + 
           '            </div>' + 
           '        </div>' + 
           '    </div>' +    
           '</div>';


   // 마커 위에 커스텀오버레이를 표시합니다
   // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
   var overlay = new kakao.maps.CustomOverlay({
       content: content,  //여기가 컨텐츠 지정해 주는 부분인데 여기 들어갈 형식은
       map: map,
       position: marker.getPosition()       
   });
   overlay.setMap(null)

   
   overlays.push(overlay)
   markers.push(marker)
   kakao.maps.event.addListener(markers[i], 'click', openOverlay(i)); 
   // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
}

    //cohiceMap(result);

     
   },
   error:function(){
     alert("실패");
   }
 });


}


function cohiceMap(result){

}


/* 아래와 같이도 할 수 있습니다 */
/*
for (var i = 0; i < positions.length; i ++) {
   // 마커를 생성합니다
   var marker = new kakao.maps.Marker({
       map: map, // 마커를 표시할 지도
       position: positions[i].latlng // 마커의 위치
   });

   // 마커에 표시할 인포윈도우를 생성합니다 
   var infowindow = new kakao.maps.InfoWindow({
       content: positions[i].content // 인포윈도우에 표시할 내용
   });

   // 마커에 이벤트를 등록하는 함수 만들고 즉시 호출하여 클로저를 만듭니다
   // 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
   (function(marker, infowindow) {
       // 마커에 mouseover 이벤트를 등록하고 마우스 오버 시 인포윈도우를 표시합니다 
       kakao.maps.event.addListener(marker, 'mouseover', function() {
           infowindow.open(map, marker);
       });

       // 마커에 mouseout 이벤트를 등록하고 마우스 아웃 시 인포윈도우를 닫습니다
       kakao.maps.event.addListener(marker, 'mouseout', function() {
           infowindow.close();
       });
   })(marker, infowindow);
}
*/
   </script>




</body>

</html>